[submodule "lovelace-horizon-card"]
	path = lovelace-horizon-card
	url = https://github.com/SamLeatherdale/lovelace-horizon-card
[submodule "trainboard"]
	path = trainboard
	url = https://github.com/SamLeatherdale/TrainBoard
