{
  "useTabs": true,
  "tabWidth": 2,
	"printWidth": 80,
	"endOfLine": "crlf",
	"plugins": [
		"@trivago/prettier-plugin-sort-imports"
	],
	"importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
	"importOrderSortSpecifiers": true
}
